@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<div class="col-md-3">
    <table>
        <tr>
            <td><h1>Resultado: </h1></td>
            <td><h1>@ViewBag.Result</h1></td>
        </tr>
    </table>
</div>
